/* Custom CSS */
.form-all {
padding-top: 0;
margin-top: -10px;
}

#contact {
	text-align: center;
}

#fb {
	margin-right: 0px;
	width: 75px;
	height: 75px;
	text-align: center;
}

#twitter {
	margin-left: 0px;
	width: 75px;
	height: 75px;
	text-align: center;
}

.servicebar{
    background-color:rgba(35,35,35,.7);
    text-align:center;
padding:10px;


}

#jumbo {

	text-align: center;
}

.navbar .nav > li > a {
 
    	color:  #ddd;
}

.navbar-default .navbar-brand {
    color: #ddd;
}



.footer {

	background-color: #333333;
	padding-top: 20px;
}

.navbar-custom {
    background-color:#333333;
    color:#333333;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

#facebook {
background: url("/Portals/_default/Skins/DMC2012/footer_images/facebook-icon.svg") no-repeat;}

#address {
	padding: 0px;
}

#footerdivider {
    display: inline-block;
    width: 0;
    height: 4.8em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-top: 4px;
}

#footerdivider1 {
    display: inline-block;
    width: 0;
    height: 4.8em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-top: 4px;
    
}

.hdrIcon {

    color:#333333;
}

.left-align{
    text-align: left;
}

.top-offset{
    padding-top:65px;
}