

<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ page.title }}</h1>
                    <h1 style="color:#f43e00;">{{page.title1}}</h1>
                    <h3>{{ page.subTitle }}</h3>
                    <br/>
                    <!--<hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        {% for social in site.social %}
                        <li>
                            <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="servicebar">
                    <img src="img/gear.svg" class="icon">
                    <h4 style="color:#f43e00;">Automate Your Process</h4>
                    <p>An automated process simplifies production of high quality products, freeing your team to focus on cost, energy, and production efficiency.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="servicebar">
                    <img src="img/hand120.svg" class="icon">
                    <h4 style="color:#f43e00;">Interact With Your System</h4>
                    <p>A well-designed user interface allows your team to monitor and maintain your process while quickly responding to process upsets.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="servicebar">
                    <img src="img/trendmag.svg" class="icon">
                    <h4 style="color:#f43e00;">Understand Your Process</h4>
                    <p>Turning your process data into information enables you to understand and reduce your production costs throughout the supply chain.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="servicebar">
                    <img src="img/integration.svg" class="icon">
                    <h4 style="color:#f43e00;">Connect Your Enterprise</h4>
                    <p>In a connected company everyone works as one team to optimize business processes all of the way from the shop floor to the top floor.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

